<h1>Seja bem vindo!</h1>

<p> <%=nome_aplicacao %></p>

<%= render "menu"%>
    <p>Você está em ambiente de: <strong> <%=  ambiente_rails %></strong></p>
    <p>variavel de instancia/sessao <strong><%= @nome %></strong></p>
